<a href="https://colab.research.google.com/github/keenasmustard/python-practice/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 2-5 그냥 수식 그대로 순서 따라서
x = 16
8*x**2 - 2*x + 2

In [ ]:
# 2-6
x,y = 4,8
print(x)
x *= y
print(x)
x -= y
print(x)

In [ ]:
#2-7
x = 2
print(x)
x *= 2
print(x)
x *= 2
print(x)
x *= 2
print(x) 
x *= 2
print(x)

In [ ]:
#2-8 재료 별 그램당 칼로리를 먼저 계산해두고 해보자
flour_per_g = 364/100
piment_per_g = 20.1/100
olive_per_g = 115/100
pork_per_g = 242.1/100
cheese_per_g = 402.5/100

whole_pizza = 200*flour_per_g + 30*piment_per_g + 10*olive_per_g + 80*pork_per_g + 20*cheese_per_g

print(whole_pizza/6)

In [ ]:
#2-9
print("첫 번째 정수를 입력하세요")
number1 = int(input())
print("두 번째 정수를 입력하세요")
number2 = int(input())
print()
print(number1,"+",number2,"=",number1+number2)
print(number1,"-",number2,"=",number1-number2)
print(number1,"*",number2,"=",number1*number2)
print(number1,"/",number2,"=",number1/number2)

In [ ]:
#3-2
def print_absolute():
    print("정수를 입력하세요.")
    number = int(input())
    print(number,'의 절댓값:', abs(number))

print_absolute()

In [ ]:
#3-3
def print_absolute():
    """사용자로부터 정수를 입력받아 그 수의 절댓값을 화면에 출력."""
    print('정수를 입력하세요')
    number = int(input())
    print(number,'의 절댓값:', abs(number))

print_absolute()

?print_absolute()

In [ ]:
#3-4
def print_plus1():
    """두 수를 전달받아 그 합계를 화면에 출력"""
    num1 = float(input())
    num2 = float(input())
    print(num1+num2)

print_plus1()

def print_plus2(num_a,num_b):
    print(num_a+num_b)

print_plus2(100,50)

In [ ]:
#3-5
def average_of_4_numbers(num1,num2,num3,num4):
    """네 개의 수를 매개변수로 입력받아 평균을 계산해 반환"""
    return (num1+num2+num3+num4)/4

print(average_of_4_numbers(512,64,256,192))

In [ ]:
#3-6
def no_return():
    """화면에 메시지를 출력하지만, 값을 반환하지는 않는다."""
    print('이 함수에는 반환값이 없습니다')
    
result = no_return()
print(result)

In [ ]:
#3-7
def width_of_triangle1():
    """밑변과 높이의 값을 직접 입력받아 삼각형 넓이 반환"""
    num1 = float(input())
    num2 = float(input())
    return num1*num2/2

width_of_triangle1()

In [ ]:
#3-7
def width_of_triangle2(num1,num2):
    """밑변과 높이를 매개변수로 받아 삼각형 넓이 반환"""
    return num1*num2/2

width_of_triangle2(10,8)

In [ ]:
#3-9
print('주문하실 음료:', end ='')
drink = input()
print('주문하실 간식:', end='')
snack = input()
print(drink, snack, '주문 받았습니다')

In [ ]:
lambda x : x+1

In [ ]:
#4-2
-2.5287e2

In [ ]:
#4-3
def almost_equal1():
    num1 = float(input())
    num2 = float(input())
    if abs(num1-num2) < 1.0e-4:
        return True
    else:
        return False

almost_equal()

In [ ]:
#4-3
def almost_equal2(num1,num2,num3=1.0e-4):
    if abs(num1-num2) < num3:
        return True
    else:
        return False

almost_equal2(1.00,1.001)

In [ ]:
#4-3
'''답안'''
def almost_equal(real_number_a, real_number_b, threshold=0.0001):
    return abs(real_number_a-real_number_b)<threshold

almost_equal(1.00001,1.000000000001)

In [ ]:
#4-4
('I think, therefore I am.').replace('think','eat')

In [ ]:
order_memo = """주문1: 아메리카노
주문2: 카페라떼
주문3: 아메리카노, 아메리카노
주문4: 아메리카노, 카페라떼
주문5: 카페라떼, 카페라떼"""

print(order_memo.count('주문'))
print(order_memo.count('아메리카노'))
print(order_memo.count('카페라떼'))

In [ ]:
#4-7
number_1 = input()
number_2 = input()
result = float(number_1)+float(number_2)
print('결과:'+ str(result))

In [ ]:
#4-7
"""답안"""
number_1 = int(input())  # 사용자 입력 수 1
number_2 = int(input())  # 사용자 입력 수 2
result = number_1 + number_2  # 계산 print('결과: ' + result)
print('결과: ' + str(result))  # 결과 출력